body {
    background-color: #fff8e7;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: darkred;
    font-family: 'Georgia', serif;
}

h3 {
    color: yellow;
    font-family: 'Georgia', serif;
}

ul {
    margin-left: 120px;
}

a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

footer {
    background-color: darkred;
    color: white;
    padding: 10px;
}




